.bg-img{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    height: 100vh;
    width: 100vw;
    padding: 100px;
    background-image: url(./ASSESTS/dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    ;

}.btn{
    background-color: rgb(160, 119, 199);
    font-weight: 200;
    padding: 100px;
    
}